<!DOCTYPE html>
<html>
  @!component('header')
  <body>
    <h1>Users:</h1>
    @each(user in users)
      <div>
        <li>{{ user.id }}</li>
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
      </div>
    @end
  </body>
  @!component('footer')
</html>
